form{
  .form-section{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    box-sizing: border-box;
    mat-form-field{
      width: 100%;
    }
  }
  .form-expression-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    div{
      width: 100%;
      mat-form-field{
        width: 100%;
      }
    }
    .expression-container{
      display: flex;
      align-items: center;
      button{
        width: 150px !important;
      }
      @media(max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  .sentence-form-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    box-sizing: content-box;
    .form-fields{
      mat-form-field{
        width: 100%;
      }
    }
    .buttons{
      display: flex;
      flex-wrap: nowrap;
    }
  }
  .form-section-full{
    width: 100%;
  }
  .form-select-group{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    @media(max-width: 440px) {
      flex-wrap: wrap;
    }
    .select{
      width: 48%;
      @media(max-width: 440px) {
        width: 100%;
      }
    }
  }
  .submit-button{
    display: flex;
    justify-content: center;
  }
}
