<mat-card>
  <div class="m-m-td">
    <mat-card-title>Upload new expression</mat-card-title>
  </div>
  <form [formGroup]="form">
    <div class="form-expression-section">
      <mat-form-field>
        <mat-label>Expression</mat-label>
        <input matInput formControlName="word">
      </mat-form-field>
      <app-main-button text="Autocomplete"
                      (click)="autocomplete()"
                      [disabled]="!form.get('word')?.valid">
      </app-main-button>
    </div>
    <div class="form-section">
      <mat-form-field>
        <mat-label>Reading</mat-label>
        <input matInput formControlName="reading">
      </mat-form-field>
    </div>
    <!--ENGLISH MEANING-->
    <section formArrayName="englishMeaning">
      <ng-container *ngFor="let meaning of englishMeaning.controls; let i = index">
        <div formGroupName="{{ i }}" class="form-section">
          <mat-form-field>
            <mat-label>English Meaning</mat-label>
            <input matInput formControlName="meaning" id="{{'name' + i}}" name="meaning">
          </mat-form-field>
          <app-icon-button iconName="add_circle"
                          (click)="addToFormArray('englishMeaning')"
                          [disabled]="englishMeaning.controls[i].get('meaning')?.value.length === 0 ||
                                      englishMeaning.length !== i + 1"></app-icon-button>
          <app-icon-button iconName="delete" color="warn"
                          (click)="deleteFromFormArray('englishMeaning', i)"
                          [disabled]="englishMeaning.length === 1"></app-icon-button>
        </div>
      </ng-container>
    </section>
    <!--JAPANESE MEANING-->
    <section formArrayName="japaneseMeaning">
      <ng-container *ngFor="let meaning of japaneseMeaning.controls; let i = index">
        <div formGroupName="{{ i }}" class="form-section">
          <mat-form-field>
            <mat-label>Japanese Meaning</mat-label>
            <input matInput formControlName="meaning" id="{{'name' + i}}" name="meaning">
          </mat-form-field>
          <app-icon-button iconName="add_circle"
                          (click)="addToFormArray('japaneseMeaning')"
                          [disabled]="japaneseMeaning.controls[i].get('meaning')?.value.length === 0 ||
                          japaneseMeaning.length !== i + 1"></app-icon-button>
          <app-icon-button iconName="delete" color="warn"
                          (click)="deleteFromFormArray('japaneseMeaning', i)"
                          [disabled]="japaneseMeaning.length === 1"></app-icon-button>
        </div>
      </ng-container>
    </section>
    <!--EXAMPLE SENTENCES-->
    <section formArrayName="exampleSentences">
      <ng-container *ngFor="let sentence of exampleSentences.controls; let i = index">
        <div formGroupName="{{ i }}" class="sentence-form-section">
          <div class="form-fields">
            <mat-form-field>
              <mat-label>Example Sentence</mat-label>
              <input matInput formControlName="sentence" id="{{'name' + i}}" name="sentence">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Source</mat-label>
              <input matInput formControlName="source" id="{{'name' + i}}" name="source">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Link</mat-label>
              <input matInput formControlName="link" id="{{'name' + i}}" name="link">
            </mat-form-field>
          </div>
          <div class="buttons">
            <app-icon-button iconName="add_circle"
                            (click)="addToFormArray('exampleSentences')"
                            [disabled]="exampleSentences.controls[i].get('sentence')?.value.length === 0 ||
                            exampleSentences.length !== i + 1"></app-icon-button>
            <app-icon-button iconName="delete" color="warn"
                            (click)="deleteFromFormArray('exampleSentences', i)"
                            [disabled]="exampleSentences.length === 1"></app-icon-button>
          </div>
        </div>
      </ng-container>
    </section>
    <div class="form-select-group">
      <mat-form-field>
        <mat-label>JLPT</mat-label>
        <mat-select formControlName="jlpt">
          <mat-option *ngFor="let jlpt of jlptValues" [value]="jlpt.value">
            {{ jlpt.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Transitivity</mat-label>
        <mat-select formControlName="transitivity">
          <mat-option *ngFor="let transitivity of transitivityValues" [value]="transitivity.value">
            {{ transitivity.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-section-full">
      <app-lessons-select formControlName="lesson"></app-lessons-select>
    </div>
    <app-tags-select formControlName="tags"></app-tags-select>
    <div class="m-s-td">
      <app-main-button (click)="sendData()"
                        text="Add expression"
                        [disabled]="form.invalid">
      </app-main-button>
    </div>
  </form>
</mat-card>
