<mat-expansion-panel (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false"
                    [expanded]="panelOpenState">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Filter cards to review
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form [formGroup]="filterForm" class="m-m-td">
    <div class="select-container">
      <div>
        <app-types-select formControlName="type"></app-types-select>
      </div>
      <div>
        <app-jlpt-select formControlName="jlpt"></app-jlpt-select>
      </div>
    </div>
    <div class="select-container">
      <div>
        <app-lessons-select formControlName="lesson"></app-lessons-select>
      </div>
      <div>
        <app-source-select formControlName="source" [lessonId]="filterForm.get('lesson')?.value"></app-source-select>
      </div>
    </div>
    <div class="select-container">
      <div>
        <app-difficulty-select formControlName="difficulty"></app-difficulty-select>
      </div>
      <div *ngIf="filterForm.get('type')?.value === 'expression'">
        <app-transitivity-select formControlName="transitivity"></app-transitivity-select>
      </div>
    </div>
    <div class="m-s-td">
      <app-tags-select formControlName="tags"></app-tags-select>
    </div>
    <div class="form-button-container">
      <button mat-raised-button color="primary" (click)="sendFilter()">Filter</button>
    </div>
  </form>
</mat-expansion-panel>





