mat-form-field{
  margin-right: 1em;
}

ul {
  display: flex;
  flex-wrap: wrap;
  li {
    margin-right: 1em;
  }
}

.select-container{
  display: flex;
  justify-content: space-between;
  @media(max-width: 768px) {
    flex-wrap: wrap;
  }
  div{
    width: 49%;
    @media(max-width: 768px) {
      width: 100%;
    }
  }
}
.form-button-container{
  display: flex;
  justify-content: center;
}
