<div class="container">
  <form class="m-m-td m-m-rl media-width">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" name="email" autofocus>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password" name="password" autocomplete="off">
    </mat-form-field>
    <app-main-button (click)="login()" type="submit" text="Login"></app-main-button>
  </form>
</div>


