:root{
  --xs: 360px;
  --s: 440px;
  --m: 768px;
  --l: 1280px;
  --xl: 1440px;
  --main-color: #673ab7;
}

body{
  margin: 1em !important;
  box-sizing: border-box;
}

h1 {
  color: var(--main-color);
  font-size: 2.5em !important;
}

p, h1{
  margin: 0 !important;
}

.m-s{
  margin: 1em;
}

.m-m{
  margin: 2em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
