:root{
  --xs: 360px;
  --s: 440px;
  --m: 768px;
  --l: 1280px;
  --xl: 1440px;
  --main-color: #673ab7;
}

.media-width{
  width: 50%;
  @media(max-width:  768px) {
    width: 75%;
  }
  @media(max-width: 440px) {
    width: 100%;
  }
}

mat-form-field{
  margin-right: 1em;
}

body{
  margin: 1em !important;
  box-sizing: border-box;
}

h1 {
  color: var(--main-color);
  font-size: 2.5em !important;
}

h1{
  margin: 0 !important;
}

p{
  margin: 0.3em !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.m-s-td{
  margin-top: 1em;
  margin-bottom: 1em;
}

.m-s-rl{
  margin-right: 1em;
  margin-left: 1em;
}

.m-m-td{
  margin-top: 2em;
  margin-bottom: 2em;
}

.m-m-rl{
  margin-right: 2em;
  margin-left: 2em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
