:root{
  --xs: 360px;
  --s: 440px;
  --m: 768px;
  --l: 1280px;
  --xl: 1440px;
  --main-color: #673ab7;
  --light-main-color: #f1f1f1;
  --accent-color: #ffd74a;
  --dark-color: #333333;
}

.media-width{
  width: 50%;
  @media(max-width:  768px) {
    width: 75%;
  }
  @media(max-width: 440px) {
    width: 100%;
  }
}

mat-form-field{
  margin-right: 1em;
}

body {
  margin: 1em !important;
  background-color: var(--light-main-color);
  box-sizing: border-box;
}

h1 {
  color: var(--main-color);
  font-size: 2.5em !important;
  margin: 0 !important;
}

h2 {
  color: var(--dark-color);
}

p{
  margin: 0.3em !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.m-s-td{
  margin: 1em 0;
}

.m-s-rl{
  margin: 0 1em;
}

.m-m-td{
  margin: 2em 0;
}

.m-m-rl{
  margin: 0 2em;
}

.m-s-r{
  margin-right: 1em;
}

.m-m-r{
  margin-right: 2em;
}

@mixin border(){

  border-radius: 4px;
  padding: 1em;
  margin: 1em 0;
}

.border {
  @include border();
  border: 2px solid var(--light-main-color);
}

.border-main {
  @include border();
  border: 2px solid var(--main-color);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
