<mat-card *ngIf="expression && fetchedDataState === 'loaded'">
  <!--CARD FRONT-->
  <div *ngIf="cardFlipState === 'front'" class="card front">
    <h3>{{ expression.word }}</h3>
    <div>
      <app-accent-button *ngIf="!showHint"
                          (click)="showHint = true"
                          text="Show hint">
      </app-accent-button>
      <p *ngIf="showHint">{{ expression.exampleSentences[0].sentence }}</p>
    </div>
    <app-main-button (click)="cardFlipState = 'back'" text="Show reverse"></app-main-button>
  </div>
  <!--CARD REVERSE-->
  <div *ngIf="cardFlipState === 'back'" class="card back">
    <h4>{{ expression.word }}</h4>
    <p>{{ expression.reading }}</p>
    <ul>
      <li *ngFor="let meaning of expression.englishMeaning">
        {{ meaning }}
      </li>
    </ul>
    <ul>
      <li *ngFor="let sentence of expression.exampleSentences">
        {{ sentence.sentence }}
      </li>
    </ul>
    <div class="difficulty-section">
      <p>Difficulty: {{ expression.difficulty | difficulty }}</p>
      <div class="buttons-container">
        <app-warn-button (click)="sendDifficulty('hard')" text="Hard"></app-warn-button>
        <div class="m-s-rl">
          <app-main-button (click)="sendDifficulty('OK')" text="OK"></app-main-button>
        </div>
        <app-accent-button (click)="sendDifficulty('easy')" text="Easy"></app-accent-button>
      </div>
    </div>
  </div>
</mat-card>

<section class="loading m-m-td">
  <div *ngIf="fetchedDataState === 'loading'">
    Loading...
  </div>
  <div *ngIf="fetchedDataState === 'no data'">
    No data
  </div>
</section>


