.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 300px;
  h3{
    font-size: 3em !important;
  }
  h4{
    font-size: 2em !important;
  }
  li{
    text-align: center;
  }
  .section-text{
    color: grey;
    font-size: 12px;
  }
  .color-text{
    color: var(--main-color);
    font-weight: bold;
  }
}

.back{
  .difficulty-section{
    text-align: center;
    .buttons-container{
      display: flex;
    }
  }
}

