<mat-card *ngIf="reviewData && fetchedDataState === 'loaded'">
  <!--CARD FRONT-->
  <div *ngIf="cardFlipState === 'front'" class="card front">
    <h3>{{ cardData.main }}</h3>
    <div>
      <button mat-stroked-button color="primary"
              *ngIf="!showHint" (click)="showHint = true">
        Show hint
      </button>
      <p *ngIf="showHint">{{ cardData.hint }}</p>
    </div>
    <app-main-button (click)="cardFlipState = 'back'" text="Show reverse"></app-main-button>
  </div>
  <!--CARD REVERSE-->
  <div *ngIf="cardFlipState === 'back'" class="card back">
    <h4>{{ cardData.main }}</h4>
    <!-- EXPRESSION -->
    <div *ngIf="type === 'expression'" class="card-detail">
      <p><span class="section-text">Reading: </span>{{ (cardData | expressionCast).reading }}</p>
      <ul>
        <li class="section-text">Meaning:</li>
        <li *ngFor="let englishMeaning of (cardData | expressionCast).englishMeaning">
          {{ englishMeaning}}
        </li>
        <li *ngFor="let japaneseMeaning of (cardData | expressionCast).japaneseMeaning">
          {{ japaneseMeaning}}
        </li>
      </ul>
      <ul>
        <li class="section-text">Example Sentences:</li>
        <li *ngFor="let sentence of (cardData | expressionCast).exampleSentences">
          {{ sentence }}
        </li>
      </ul>
      <p *ngIf="(cardData | expressionCast).transitivity">
        <span class="section-text">Transitivity: </span>{{ (cardData | expressionCast).transitivity }}
      </p>
    </div>
    <!-- USER-KANJI -->
    <div *ngIf="type === 'user-kanji'" class="card-detail">
      <p><span class="section-text">Kun readings:</span> {{ (cardData | userKanjiCast).kunReadings }}</p>
      <p><span class="section-text">On readings:</span> {{ (cardData | userKanjiCast).onReadings }}</p>
      <p><span class="section-text">Meanings:</span> {{ (cardData | userKanjiCast).meanings }}</p>
      <ul>
        <li class="section-text">Expressions:</li>
        <li *ngFor="let expression of (cardData | userKanjiCast).expressions">
          {{expression.word}} ({{expression.reading}})
        </li>
      </ul>
    </div>
    <!-- DIFFICULTY -->
    <div class="difficulty-section">
      <p *ngIf="cardData.jlpt">Jlpt: <span class="color-text">{{ cardData.jlpt }}</span></p>
      <p>Difficulty: <span class="color-text">{{ cardData.difficulty| difficulty }}</span></p>
      <div class="buttons-container">
        <button mat-flat-button color="warn" (click)="sendDifficulty('hard')">
          Hard
        </button>
        <button mat-flat-button color="primary" (click)="sendDifficulty('OK')" class="m-s-rl">
          OK
        </button>
        <button mat-flat-button color="accent" (click)="sendDifficulty('easy')">
          Easy
        </button>
      </div>
    </div>
  </div>
</mat-card>

<app-loading [fetchedDataState]="fetchedDataState" dataType="cards"></app-loading>


